<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="main">
    <div class="main-box">
      <div class="name-book" th:text ="Книга + ' ' + ${book.name}"></div>
        <form class="text-book" th:action="@{/}+${book.id}" method="POST">
            <textarea name="textBook" th:text="${book.text}"> </textarea>
            <button class="button-save" type="submit">Сохранить</button>
        </form>
        <a class="back" href="/">К списку</a>
    </div>
  </div>
</body>
</html>